USE [POS]
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 4/10/2023 8:53:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 4/10/2023 8:53:54 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Insert roles
INSERT INTO [dbo].[Roles] ([RoleID], [RoleName])
VALUES (0, 'Unassigned'),
       (1, 'Admin'),
       (2, 'Manager'),
       (3, 'Cashier');
GO

CREATE TRIGGER PreventDeleteUpdateWithoutWhereOnRoles
ON Roles
FOR DELETE, UPDATE
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM deleted)
  BEGIN
    RAISERROR('Delete or update operation without a WHERE clause is not allowed in the Roles table.', 16, 1)
    ROLLBACK TRANSACTION
  END
END;
GO